body {
  font-family: sans-serif;
}
h1 {
  color: #007cb9;
  text-align: left;
  font-size: 25px;
  margin: 0;
}
h1 span {
  background-color: #FF9966;;
  padding: 6px;
  border-radius: 7px;
}
.container{
  max-width: 425px;
}
.card {
  text-align: center;
  margin: 20px auto;
  width: 400px;
}
.city-search {
  text-align: left;
  margin: 0 0 10px;
}
.btn-outline-primary {
  --bs-btn-color: #007cb9;
  --bs-btn-border-color: #007cb9;
  --bs-btn-hover-color: #ff895d;
  --bs-btn-hover-bg: #007cb9;
  --bs-btn-hover-border-color: #007cb9;
  --bs-btn-active-color: #ff895d;
  --bs-btn-active-bg: #007cb9;
  --bs-btn-active-border-color: #007cb9;
  --bs-btn-disabled-color: #007cb9;
  --bs-btn-disabled-border-color: #007cb9;
}

.btn-outline-info {
  --bs-btn-color: #ff895d;
  --bs-btn-border-color: #ff895d;
  --bs-btn-hover-color: #007cb9;
  --bs-btn-hover-bg: #ff895d;
  --bs-btn-hover-border-color: #ff895d;
  --bs-btn-active-color: #007cb9;
  --bs-btn-active-bg: #ff895d;
  --bs-btn-active-border-color: #ff895d;
  --bs-btn-disabled-color: #ff895d;
  --bs-btn-disabled-border-color: #ff895d;
} 

.city {
  padding: 0;
}
.entered-city {
  text-align: left;
  padding: 0;
  font-size: 30px;
}
.day-weather {
  font-size: 16px;
  text-align: left;
  padding: 0;
}
.current-date {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}
.description {
  font-size: 14px;
}
p:first-letter {
  text-transform: capitalize;
}
.main-weather {
  padding: 0;
  text-align: left;
}
.weather-icon {
  height: 60px;
  width: 60px;
}
.temperature {
  font-size: 40px;
  line-height: 1;
  position: relative;
  bottom: -10px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -9px;
}
.main-weather .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.main-weather .active:hover {
  text-decoration: none;
}
.units a {
  text-decoration: none;
  --bs-link-color: #007cb9;
}
.others .active {
  color: gray;
  cursor: default;
  text-decoration: none;
}
.others .active:hover {
  text-decoration: none;
}
.feel-units a {
  text-decoration: none;
  --bs-link-color: #007cb9;
}

.others {
  text-align: left;
  padding: 0;
  font-size: 12px;
  color: gray;
}
.feel-units {
  font-size: 9px;
  position: relative;
  top: -2px;
}

.forecast-day {
  font-size: 14px;
}

.forecast-icon {
  width: 45px;
  display: block;
  margin: auto;
}

.forecast-temperature {
  font-size: 12px;
  text-align: center;
} 

.forecast-temperature-min {
  opacity: 0.6;
}

#search-text-input {
  width: 200px;
}
footer{
  text-align: center;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  --bs-link-color: #007cb9;
}