:root{
  --background-card-color: #ddd5f3;
  --primary-color:#754e95;
  --secondary-color:#f67f02;
}
body {
  font-family: sans-serif;
  background-color: #f9f7fe;
}
h1 {
  color: var(--primary-color);
  text-align: left;
  font-size: 25px;
  margin: 0;
}
h1 span {
text-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  padding: 6px;
  border-radius: 7px;
}
.container{
  max-width: 425px;
  margin-top: 70px;
}
.card {
  text-align: center;
  margin: 20px auto;
  width: 400px;
  background-color:var(--background-card-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.city-search {
  text-align: left;
  margin: 0 0 10px;
}
.btn-outline-primary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color:var(--secondary-color);
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-active-color: var(--secondary-color);
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-disabled-color: var(--primary-color);
  --bs-btn-disabled-border-color: var(--primary-color);
}

.btn-outline-info {
  --bs-btn-color: var(--secondary-color);
  --bs-btn-border-color:var(--secondary-color);
  --bs-btn-hover-color: var(--primary-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-disabled-color: var(--secondary-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
} 

.city {
  padding: 0;
}
.entered-city {
  text-align: left;
  padding: 0;
  font-size: 30px;
  color:var(--secondary-color);
}
.day-weather {
  font-size: 16px;
  text-align: left;
  padding: 0;
}
.current-date {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}
.description {
  font-size: 14px;
}
p:first-letter {
  text-transform: capitalize;
}
.main-weather {
  padding: 0;
  text-align: left;
}
.weather-icon {
  height: 60px;
  width: 60px;
}
.temperature {
  font-size: 40px;
  line-height: 1;
  position: relative;
  bottom: -10px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -9px;
}
.main-weather .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.main-weather .active:hover {
  text-decoration: none;
}
.units a {
  text-decoration: none;
  --bs-link-color: var(--primary-color);;
}
.others .active {
  color: gray;
  cursor: default;
  text-decoration: none;
}
.others .active:hover {
  text-decoration: none;
}
.feel-units a {
  text-decoration: none;
  --bs-link-color: var(--primary-color);;
}

.others {
  text-align: left;
  padding: 0;
  font-size: 12px;
  color: gray;
}
.feel-units {
  font-size: 9px;
  position: relative;
  top: -2px;
}

.forecast-day {
  font-size: 14px;
}

.forecast-icon {
  width: 45px;
  display: block;
  margin: auto;
}

.forecast-temperature {
  font-size: 12px;
  text-align: center;
} 

.forecast-temperature-min {
  opacity: 0.6;
}

#search-text-input {
  width: 200px;
}
footer{
  text-align: center;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  --bs-link-color: var(--primary-color);
}